umh.docs.umh.app/static/json/getstarted/flows.json
[{"id":"5b0d3bdedfaf243d","type":"tab","label":"Printing press","disabled":false,"info":"","env":[]},{"id":"e4c4ac1d0a4c121d","type":"inject","z":"5b0d3bdedfaf243d","name":"/product-type/create","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"umh/v1/printingCo/lisbon/hall-a/speedmaster106/_analytics/product-type/create","payload":"{\"externalProductID\":\"otto-poster\",\"cycleTime\":10}","payloadType":"json","x":230,"y":360,"wires":[["e058c68432f3fd68","851d50510162d24e"]]},{"id":"e058c68432f3fd68","type":"debug","z":"5b0d3bdedfaf243d","name":"log message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":400,"wires":[]},{"id":"851d50510162d24e","type":"mqtt out","z":"5b0d3bdedfaf243d","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"213f27d81043b7ac","x":410,"y":320,"wires":[]},{"id":"4f4794000393d769","type":"comment","z":"5b0d3bdedfaf243d","name":"Create a new product type","info":"This needs to run only once per asset","x":290,"y":240,"wires":[]},{"id":"73e12ca4c053c9ed","type":"inject","z":"5b0d3bdedfaf243d","name":"/shift/add","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"umh/v1/printingCo/lisbon/hall-a/speedmaster106/_analytics/shift/add","payload":"{}","payloadType":"json","x":700,"y":360,"wires":[["2a7a446c29042c75"]]},{"id":"45afc74010724cb7","type":"debug","z":"5b0d3bdedfaf243d","name":"log message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":400,"wires":[]},{"id":"7da166b1dda8f4c7","type":"mqtt out","z":"5b0d3bdedfaf243d","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"213f27d81043b7ac","x":1090,"y":320,"wires":[]},{"id":"619380ea27d04d40","type":"comment","z":"5b0d3bdedfaf243d","name":"Start a new shift (8h)","info":"","x":870,"y":240,"wires":[]},{"id":"2a7a446c29042c75","type":"function","z":"5b0d3bdedfaf243d","name":"set startTime & endTime","func":"const startTime = Date.now();\n// This shift will be 8 hours\nconst endTime = startTime + 28800000\n\nmsg.payload = {\n    \"startTime\": startTime,\n    \"endTime\": endTime\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":360,"wires":[["7da166b1dda8f4c7","45afc74010724cb7"]]},{"id":"3d5ccf4c40e42412","type":"inject","z":"5b0d3bdedfaf243d","name":"/work-order/create","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"umh/v1/printingCo/lisbon/hall-a/speedmaster106/_analytics/work-order/create","payload":"{\"externalWorkOrderId\":\"#1247\",\"product\":{\"externalProductId\":\"otto-poster\"},\"quantity\":7500}","payloadType":"json","x":1410,"y":360,"wires":[["5bcbda363be92e09","61e5ab8efa0d309f"]]},{"id":"61e5ab8efa0d309f","type":"debug","z":"5b0d3bdedfaf243d","name":"log message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1610,"y":400,"wires":[]},{"id":"5bcbda363be92e09","type":"mqtt out","z":"5b0d3bdedfaf243d","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"213f27d81043b7ac","x":1590,"y":320,"wires":[]},{"id":"426762dc259cfdad","type":"comment","z":"5b0d3bdedfaf243d","name":"Create a work order","info":"","x":1580,"y":240,"wires":[]},{"id":"51356536182a7635","type":"inject","z":"5b0d3bdedfaf243d","name":"/work-order/start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"umh/v1/printingCo/lisbon/hall-a/speedmaster106/_analytics/work-order/start","payload":"{\"externalWorkOrderId\":\"#1247\"}","payloadType":"json","x":1880,"y":360,"wires":[["2637f126b37c5698"]]},{"id":"f0c82b84a373527f","type":"debug","z":"5b0d3bdedfaf243d","name":"log message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2230,"y":400,"wires":[]},{"id":"378a5c6a9d4f97bf","type":"mqtt out","z":"5b0d3bdedfaf243d","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"213f27d81043b7ac","x":2210,"y":320,"wires":[]},{"id":"275cbb3e704e7323","type":"comment","z":"5b0d3bdedfaf243d","name":"Start a work order","info":"","x":2050,"y":240,"wires":[]},{"id":"2637f126b37c5698","type":"function","z":"5b0d3bdedfaf243d","name":"set startTime","func":"const startTime = Date.now();\n\nmsg.payload[\"startTime\"] = startTime\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2050,"y":360,"wires":[["f0c82b84a373527f","378a5c6a9d4f97bf"]]},{"id":"a3971a87f6bf92c4","type":"comment","z":"5b0d3bdedfaf243d","name":"Printing press workflow","info":"This workflow awaits a work order start, and then simulates a product cycle run","x":2780,"y":240,"wires":[]},{"id":"c95b91a21c140358","type":"mqtt in","z":"5b0d3bdedfaf243d","name":"mqtt","topic":"umh/v1/printingCo/lisbon/hall-a/speedmaster106/_analytics/work-order/start","qos":"2","datatype":"auto-detect","broker":"213f27d81043b7ac","nl":false,"rap":true,"rh":0,"inputs":0,"x":2610,"y":320,"wires":[["28ef1b24b4e19d8f","ce78929a567edf8c"]]},{"id":"28ef1b24b4e19d8f","type":"debug","z":"5b0d3bdedfaf243d","name":"starting production","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"Starting production\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":2810,"y":320,"wires":[]},{"id":"b96198c756c95eac","type":"debug","z":"5b0d3bdedfaf243d","name":"production completed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"Production completed\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":3420,"y":580,"wires":[]},{"id":"ce78929a567edf8c","type":"function","z":"5b0d3bdedfaf243d","name":"set produced to zero & initial state","func":"// At the start of each order there is nothing produced, so set it to zero\nmsg.payload[\"produced\"] = 0;\n\n// ProducingAtLowerThanFullSpeedState [ramping up]\n// We later simulate that the machine gets faster over time\nmsg.payload[\"state\"] = {\n    id: 20000,\n    lastchange: Date.now()\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2860,"y":360,"wires":[["953c91c0719b2fd7"]]},{"id":"b75bd8013e75d73a","type":"comment","z":"5b0d3bdedfaf243d","name":"Main loop below","info":"","x":2820,"y":480,"wires":[]},{"id":"953c91c0719b2fd7","type":"switch","z":"5b0d3bdedfaf243d","name":"stop if production completed","property":"payload.produced","propertyType":"msg","rules":[{"t":"gte","v":"7500","vt":"str"},{"t":"lt","v":"7500","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2800,"y":620,"wires":[["477f4ca66412c0cb"],["bbac09af6e14087c"]]},{"id":"532448da1e5993de","type":"comment","z":"5b0d3bdedfaf243d","name":"Work order completed","info":"","x":3200,"y":560,"wires":[]},{"id":"c3b7ad45ae3743e5","type":"function","z":"5b0d3bdedfaf243d","name":"producer cycle","func":"// Assuming that the producing isn't failing this works\nconst produced = msg.payload.produced + 1;\n\n// JSON.parse(JSON.stringify(msg)) is a simple way to deep copy it\nlet msg_write_back = JSON.parse(JSON.stringify(msg))\nmsg_write_back.payload.produced = produced;\n\n// Delete everything from the product messages, that is not needed\ndelete msg.payload.produced;\ndelete msg.payload.state;\ndelete msg.payload.delay;\n\nreturn [msg_write_back,msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2540,"y":880,"wires":[["b2c9f8d581ed6bf9"],["8690a65cdb736be6"]]},{"id":"ed4f8dc593492b8b","type":"mqtt out","z":"5b0d3bdedfaf243d","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"213f27d81043b7ac","x":2810,"y":940,"wires":[]},{"id":"8690a65cdb736be6","type":"function","z":"5b0d3bdedfaf243d","name":"/product/add","func":"// An insecure implementation of uuid4\n// It's fine for this example but shouldn't be used in production\n// See https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/random for more details\nfunction uuid4() {\n    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n        var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n        return v.toString(16);\n    });\n}\n\nmsg.payload = {\n    \"externalProductTypeId\": \"otto-poster\",\n    \"productId\": uuid4(),\n    \"endTime\": Date.now(),\n    \"quantity\": 1\n};\nmsg.topic = \"umh/v1/printingCo/lisbon/hall-a/speedmaster106/_analytics/product/add\";\n\n// 5% chance of a bad product\nconst failureChance = 0.05;\n\nif (Math.random() < failureChance){\n    return [msg, msg];\n}\n\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2530,"y":940,"wires":[["ed4f8dc593492b8b"],["e86ba45a0b184bbe"]]},{"id":"b2c9f8d581ed6bf9","type":"delay","z":"5b0d3bdedfaf243d","name":"delay new product by cycleTime","pauseType":"delayv","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2450,"y":620,"wires":[["953c91c0719b2fd7"]]},{"id":"a6a5d67336e962d6","type":"comment","z":"5b0d3bdedfaf243d","name":"Feedback loop to produce next","info":"","x":2450,"y":580,"wires":[]},{"id":"e86ba45a0b184bbe","type":"function","z":"5b0d3bdedfaf243d","name":"/product/setBadQuantity","func":"// This works for us, as we produce one at a time\nmsg.badQuantity = msg.quantity;\n\n// setBadQuantiy doesn't have these keys, so we just delete them\ndelete msg.quantity;\ndelete msg.productId;\n\nmsg.topic = \"umh/v1/printingCo/lisbon/hall-a/speedmaster106/_analytics/product/setBadQuantity\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2570,"y":1020,"wires":[["309e23c7039d5833"]]},{"id":"309e23c7039d5833","type":"mqtt out","z":"5b0d3bdedfaf243d","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"213f27d81043b7ac","x":2810,"y":1020,"wires":[]},{"id":"32fe22cc3a2be951","type":"comment","z":"5b0d3bdedfaf243d","name":"Randomly scrap product (5% chance)","info":"","x":2570,"y":980,"wires":[]},{"id":"477f4ca66412c0cb","type":"function","z":"5b0d3bdedfaf243d","name":"/work-order/stop","func":"// We produced every product in this order, so let's stop it\nmsg.payload = {\n    \"externalWorkOrderId\": \"#1247\",\n    \"endTime\": Date.now(),\n}\nmsg.topic = \"umh/v1/printingCo/lisbon/hall-a/speedmaster106/_analytics/work-order/stop\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3180,"y":600,"wires":[["b96198c756c95eac","55b6cf239028068d"]]},{"id":"55b6cf239028068d","type":"mqtt out","z":"5b0d3bdedfaf243d","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"213f27d81043b7ac","x":3370,"y":620,"wires":[]},{"id":"bbac09af6e14087c","type":"function","z":"5b0d3bdedfaf243d","name":"state cycle","func":"const now = Date.now();\nconst lastChange = msg.payload.state.lastchange;\nconst duration = now - lastChange;\nconst cycleTime = 10;\n\nmsg.delay = cycleTime;\n\n// Function to calculate dynamic delay\nfunction calculateDynamicDelay(duration, startDelay, endDelay, rampTime) {\n    if (duration >= rampTime) return endDelay;\n    const delayRange = startDelay - endDelay;\n    const delayStep = delayRange / rampTime;\n    return startDelay - (delayStep * duration);\n}\n\nswitch (msg.payload.state.id) {\n    case 10000:\n        // ProducingAtFullSpeedState\n        // After 10 seconds it has a 10% chance of changing the state\n        if (Math.random() < 0.1 && duration >= 10000) {\n            if (Math.random() < 0.5) {\n                // Simulate a CleaningState\n                msg.payload.state.id = 110000;\n                msg.payload.state.lastchange = Date.now();\n            } else {\n                // Simulate an OutletJamState\n                msg.payload.state.id = 70000;\n                msg.payload.state.lastchange = Date.now();\n            }\n        }\n        break;\n    case 20000:\n        // ProducingAtLowerThanFullSpeedState\n        // The machine takes 30s to ramp to full speed\n        if (duration >= 30000) {\n            msg.payload.state.id = 10000;\n            msg.payload.state.lastchange = Date.now();\n        }\n        // Calculate dynamic delay starting from 500 to 100 over 30 seconds\n        msg.delay = calculateDynamicDelay(duration, 500, 100, 30000);\n        break;\n    default:\n        if (msg.payload.state.id == 110000) {\n            // We have a cleaning state, this one takes 10 seconds to complete\n            if (duration >= 10000) {\n                // Machine needs to ramp up after cleaning\n                msg.payload.state.id = 20000;\n                msg.payload.state.lastchange = Date.now();\n            }\n        } else if (msg.payload.state.id == 70000) {\n            // We have an outlet jam state, this one takes 15 seconds to complete\n            if (duration >= 15000) {\n                // Machine needs to ramp up after fixing the jam\n                msg.payload.state.id = 20000;\n                msg.payload.state.lastchange = Date.now();\n            }\n        }\n}\n\nif (msg.payload.state.id < 30000) {\n    return [null, msg];\n}\n\nreturn [msg, null];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2850,"y":780,"wires":[["b2c9f8d581ed6bf9","3b761c2a7e37f4a7"],["c3b7ad45ae3743e5","3b761c2a7e37f4a7"]]},{"id":"14c7531aab720226","type":"debug","z":"5b0d3bdedfaf243d","name":"output current state","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.state.name","targetType":"msg","statusVal":"","statusType":"auto","x":3650,"y":800,"wires":[]},{"id":"3b761c2a7e37f4a7","type":"rbe","z":"5b0d3bdedfaf243d","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload.state.id","topi":"topic","x":3250,"y":800,"wires":[["cb7a6f12d5070082","65d879348cd66353"]]},{"id":"cb7a6f12d5070082","type":"function","z":"5b0d3bdedfaf243d","name":"state id to name","func":"// Checkout https://umh.docs.umh.app/docs/datamodel_old/states/ for more information\nswitch (msg.payload.state.id){\n    case 10000:\n        msg.payload.state.name = \"ProducingAtFullSpeedState\"\n        break\n    case 20000:\n        msg.payload.state.name = \"ProducingAtLowerThanFullSpeedState\"\n        break\n    case 30000:\n        msg.payload.state.name = \"UnknownState\"\n        break\n    case 40000:\n        msg.payload.state.name = \"UnspecifiedStopState\"\n        break\n    case 50000:\n        msg.payload.state.name = \"MicrostopState\"\n        break\n    case 60000:\n        msg.payload.state.name = \"InletJamState\"\n        break\n    case 70000:\n        msg.payload.state.name = \"OutletJamState\"\n        break\n    case 80000:\n        msg.payload.state.name = \"CongestionBypassState\"\n        break\n    case 90000:\n        msg.payload.state.name = \"MaterialIssueOtherState\"\n        break\n    case 100000:\n        msg.payload.state.name = \"ChangeoverState\"\n        break\n    case 110000:\n        msg.payload.state.name = \"CleaningState\"\n        break\n    case 120000:\n        msg.payload.state.name = \"EmptyingState\"\n        break\n    case 130000:\n        msg.payload.state.name = \"SettingUpState\"\n        break\n    case 140000:\n        msg.payload.state.name = \"OperatorNotAtMachineState\"\n        break\n    case 150000:\n        msg.payload.state.name = \"OperatorBreakState\"\n        break\n    case 160000:\n        msg.payload.state.name = \"NoShiftState\"\n        break\n    case 170000:\n        msg.payload.state.name = \"NoOrderState\"\n        break\n    case 180000:\n        msg.payload.state.name = \"EquipmentFailureState\"\n        break\n    case 190000:\n        msg.payload.state.name = \"ExternalFailureState\"\n        break\n    case 200000:\n        msg.payload.state.name = \"ExternalInterferenceState\"\n        break\n    case 210000:\n        msg.payload.state.name = \"PreventiveMaintenanceStop\"\n        break\n    case 220000:\n        msg.payload.state.name = \"TechnicalOtherStop\"\n        break\n    default:\n        // Unknown states, just report the number and category\n        if (msg.payload.state.id < 30000){\n            msg.payload.state.name = \"unknown active state (\" + msg.payload.state.id + \")\"\n        } else if (msg.payload.state.id < 60000) {\n            msg.payload.state.name = \"unknown unknown state (\" + msg.payload.state.id + \")\"\n        } else if (msg.payload.state.id < 100000) {\n            msg.payload.state.name = \"unknown material state (\" + msg.payload.state.id + \")\"\n        } else if (msg.payload.state.id < 140000) {\n            msg.payload.state.name = \"unknown process state (\" + msg.payload.state.id + \")\"\n        } else if (msg.payload.state.id < 160000) {\n            msg.payload.state.name = \"unknown operator state (\" + msg.payload.state.id + \")\"\n        } else if (msg.payload.state.id < 180000) {\n            msg.payload.state.name = \"unknown planning state (\" + msg.payload.state.id + \")\"\n        } else if (msg.payload.state.id < 230000) {\n            msg.payload.state.name = \"unknown technical state (\" + msg.payload.state.id + \")\"\n        }else{\n            msg.payload.state.name = \"unknown state (\" + msg.payload.state.id + \")\"\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3440,"y":800,"wires":[["14c7531aab720226"]]},{"id":"14fdc5aeb5d26aa6","type":"comment","z":"5b0d3bdedfaf243d","name":"Here we actually produce products","info":"","x":2540,"y":820,"wires":[]},{"id":"004668e69add3132","type":"comment","z":"5b0d3bdedfaf243d","name":"Check if the state changes","info":"In here we simulate:\n - machine ramp up\n - 2 different failure states","x":2850,"y":720,"wires":[]},{"id":"2e89e49a83a449b3","type":"comment","z":"5b0d3bdedfaf243d","name":"Display state changes","info":"","x":3460,"y":760,"wires":[]},{"id":"c2098cd86f7ecb63","type":"mqtt out","z":"5b0d3bdedfaf243d","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"213f27d81043b7ac","x":3570,"y":900,"wires":[]},{"id":"1b32ef22c8e8e4d1","type":"comment","z":"5b0d3bdedfaf243d","name":"Broadcast state change","info":"","x":3460,"y":860,"wires":[]},{"id":"65d879348cd66353","type":"function","z":"5b0d3bdedfaf243d","name":"/state/add","func":"// We have a state change, let's publish it\nmsg.payload = {\n    \"startTime\": Date.now(),\n    \"state\": msg.payload.state.id\n};\nmsg.topic = \"umh/v1/printingCo/lisbon/hall-a/speedmaster106/_analytics/state/add\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3420,"y":900,"wires":[["c2098cd86f7ecb63"]]},{"id":"b4c2d3b7575c9a96","type":"comment","z":"5b0d3bdedfaf243d","name":"Only process changes","info":"","x":3220,"y":760,"wires":[]},{"id":"213f27d81043b7ac","type":"mqtt-broker","name":"","broker":"united-manufacturing-hub-mqtt","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]